.tire {
  width: 100px;
  height: 100px;
  background-color: #000;
  border-radius: 50%;
  box-shadow: 10px 10px 10px 10px hsl(0, 100%, 100%);
}
#front {
  position: relative;
  float: right;
  padding-top: 150px;
  padding-right: 250px;
}
#back {
  position: relative;
  float: left;
  padding-top: 150px;
  padding-left: 250px;
}
